body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(236, 236, 236);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  color: white;
  background-color: black;
  display: grid;
  /* height: 25vh; */
}

.tD_none {
  text-decoration: none;
  color: white;
}

.tD_none:hover {
  color: orange;
}  

/* .horizontal-scrollable > .row {
  overflow-x: auto;
  white-space: nowrap;
}

.horizontal-scrollable > .row > .col{
  display: inline-block;
} */

/* .img-sc {
  width: 10vw;
} */

/* .container-rotate {
  transform: rotate(-90deg);
}

.item-rotate {
  transform: rotate(90deg);
} */